a, a:visited {
	text-decoration: none;
	color: #000;
	transition: all 0.4s ease;
}

a:hover, a:focus {
	color: #AE831D;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
	text-align: center;
	padding-top: 20px;
	position: relative;
}

div.logo img {
	margin: 0 auto;
}

section.header_title {
	height: 300px;
	background-image: url('assets/images/nasa.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}

.keyframe_anim {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 20px;
	left: -400px;
	animation: 10s infinite linear 1s custom_slide;
	background-image: url('assets/images/licorne.gif');
	background-repeat: no-repeat;
	background-position: center;
}

section.header_title h1 {
	margin: 0;
	font-size: 40px;
	text-align: center;
	padding: 100px 0;
	text-transform: uppercase;
	color: #FFF;
}

ul.rs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 48px;
	right: 100px;
}

ul.rs li {
	display: inline-block;
	margin: 0 10px;
}

ul.rs li a,
ul.rs li a:visited {
	font-size: 28px;
}

ul.rs li a:hover,
ul.rs li a:focus {
	color: #AE831D;
}


/* MENU */
nav {
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
}
nav ul {
	list-style-type: none;
}
nav a, nav a:visited {
	display: block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;
}

ul.niv_1 {
	margin-bottom: 0;
	padding-left: 0;
}

ul.niv_1 > li {
	display: inline-block;
	position: relative;
}

ul.niv_1 li a:hover, ul.niv_1 li a:focus {
	color: #AE831D;
}

ul.niv_1 > li:hover ul.niv_2 {
	display: block;
}

ul.niv_2 {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #FFF;
	padding-left: 0;
	box-shadow: 0px 13px 11px rgba(0,0,0,0.4);
	z-index: 100000;
}

ul.niv_2 li a,
ul.niv_2 li a:visited {
	text-align: left;
}

ul.niv_2 li a:hover,
ul.niv_2 li a:focus {
	background-color:#000;
	color: #FFF;
}


/* FOOTER */
footer {
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	padding: 20px 100px 20px 100px;
	background-color: #FFF;
	z-index: 10000000000;
}

footer .right {
	position: absolute;
	top: 0;
	right: 300px;
}

ul.footer_links {
	list-style-type: none;
}

ul.footer_links li {
	display: inline-block;
	padding: 4px 8px;
}

/* MIDBLOCK */
.mid_block {
	padding: 40px 100px 0 400px;
	position: relative;
	margin-bottom: 80px;
}

.mid_block aside {
	width: 250px;
	position: absolute;
	top: 40px;
	left: 100px;
	padding-bottom: 80px;
}

.mid_block a {
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

.mid_block a div {
	position: absolute;
	bottom: -210px;
	left: 0;
	right: 0;
	background-color: #FFf;
	height: 250px;
	padding: 5px 10px;
	transition: all 0.4s ease;
}

.mid_block a:hover div,
.mid_block a:focus div {
	bottom: 0;
	background-color: rgba(250, 250, 250, 0.8);
}

.mid_block a:hover div span.title,
.mid_block a:focus div span.title {
	padding-top: 20px;
}

.mid_block a div span {
	display: block;
	transition: all 0.4s ease;
}

.mid_block a div span.title {
	text-transform: uppercase;
	font-weight: 700;
}

.mid_block a div span.date {
	font-size: 11px;
	font-style: italic;
	padding-bottom: 5px;
}

.mid_block section {
	padding: 10px 20px;
}

.mid_block section p {
	font-size: 18px;
	text-align: justify;
}

.mid_block section p:first-child {
	margin-top: 0;
}

.citation {
	margin: 80px 0 20px 0;
	font-size: 48px;
	padding: 20px 40px 20px 70px;
	text-align: center;
}

.citation blockquote {
  font-family: 'Dancing Script', cursive;
  position: relative;
}

.citation blockquote:before {
	position: absolute;
	top: -340px;
	left: -90px;
	content: "«";
	font-size: 450px;
	transform: rotate(30deg);
	color: #AE831D;
}

.citation span {
	display: block;
	text-align: right;
	font-size: 16px;
	color: #AE831D;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
}

.slider .swiper-slide .image {
	width: auto;
	height: 250px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slider .swiper-slide .image span {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
	text-align: center;
	color: #FFF;
}

h2.slider_title {
	font-weight: 400;
	font-size: 28px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	position: relative;
	text-align: center;
}

h2.slider_title:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	content: "";
	background-color: #AE831D;
	width: 75px;
	height: 2px;
}

.swiper-button-prev,
.swiper-button-next {
	color: #AE831D;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: #FFF;
}

/* KEYFRAME */
@keyframes custom_slide {
  0% {left: -300px;}
  100% {left: 100%;}
}

@media only screen and (max-width: 1024px) {
	footer {
		position: relative;
		left: inherit;
		bottom: inherit;
		padding: 20px 100px;
		width: auto;
		height: inherit;
	}

	footer .right {
		top: 20px;
		right: 100px;
	}

	ul.footer_links {
		margin: 0;
		padding: 0;
	}

	ul.footer_links li {
		padding: 0 8px;
	}
}


@media only screen and (max-width: 768px) {
	ul.rs {
		right: 50px;
	}

	footer {
		padding: 20px 50px;
	}

	footer .right {
		right: 50px;
	}

	section.header_title h1 {
		padding: 20px;
	}
}

@media only screen and (max-width: 628px) {
	ul.rs {
		position: inherit;
		top: inherit;
		right: inherit;
	}

	section.header_title h1 {
		font-size: 30px;
	}

}

@media only screen and (max-width: 500px) {
	footer .right	{
		position: inherit;
		top: inherit;
		right: inherit;
		margin-top: 10px;
	}

	footer {
		text-align: center;
		font-size: 12px;
	}

	nav a, nav a:visited {
		font-size: 16px;
		padding: 12px 15px;
	}

	ul.niv_1 > li {
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	ul.niv_1 > li:hover ul.niv_2 {
		display: none;
	}

	ul.niv_2 {
		/*display: inherit;*/
		position: inherit;
		left: inherit;
		top: inherit;
		box-shadow: none;
		margin-left: 30px;
		border-left: 2px solid #000;
	}
}








